/*---------------------BASE-----------------------------------------------*/

html{ 
    box-sizing: border-box;
}

*,*::after,*::before{

    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.wrapper{

    margin: auto;
    max-width: 1440px ;
}



/*---------------------Header-----------------------------------------------*/



/*---------------------Hero-----------------------------------------------*/



/*---------------------Contenu----------------------------------------------*/




/*---------------------Footer-----------------------------------------------*/